.nav__list, .certificates__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn, .about__photo, .about__photo-wrapper::after {
  border-radius: 2px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #272341;
  background-color: #ffffff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 150px 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.text-color {
  color: #6237ff;
  /* background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 30px;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 4px;
  background-color: #6237ff;
}

.text {
  line-height: 1.7;
}

.btn {
  position: relative;
  padding: 8px 16px;
  color: #6237ff;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #6237ff;
  font-weight: 700;
  /* &--color {
    background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    border-image-slice: 1;

    &::after {
      background-image: linear-gradient(135deg, #632cef, #8a4dd8);
    }

    &:hover,
    &:focus {
      -webkit-text-fill-color: $color-white;
    }
  } */
}

.btn--big {
  font-size: 24px;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6237ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover, .btn:focus {
  color: #ffffff;
  outline: none;
}

.btn:hover::after, .btn:focus::after {
  width: 100%;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 65px;
  padding: 0 15px;
}

.logo {
  position: relative;
  padding-right: 4px;
  color: #272341;
  font-size: 45px;
  font-weight: 700;
  text-decoration: none;
}

.logo::before {
  content: ".";
  position: absolute;
  bottom: -2px;
  left: 100%;
  color: #6237ff;
}

.nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  position: relative;
  padding-bottom: 8px;
  color: #272341;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #6237ff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.nav__link:hover::after, .nav__link--active::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.greeting__container {
  width: 100%;
}

.greeting__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
}

.about__photo {
  min-width: 350px;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.about__photo-wrapper {
  position: relative;
  margin-right: 150px;
}

.about__photo-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 350px;
  top: -40px;
  right: -40px;
  border: 10px solid #f8f2ff;
}

.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
}

.certificates {
  background-color: #f8f2ff;
}

.certificates__title {
  margin-bottom: 60px;
}

.certificates__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.certificates__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 9px 0 rgba(209, 206, 216, 0.5);
          box-shadow: 1px 1px 9px 0 rgba(209, 206, 216, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.certificates__item::before {
  margin-bottom: 30px;
  font-size: 45px;
}

.certificates__item:hover {
  color: #ffffff;
  background-color: #6237ff;
}

.certificates__item:hover p {
  color: #ffffff;
}

.certificates__name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.certificates__company {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 200px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.3;
}

.certificates__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #c2c2c2;
  font-size: 14px;
  line-height: 1.5;
}

.certificates__description p {
  margin: 0;
}
