*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #272341;
  background-color: #ffffff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.violet {
  color: #7510f7;
}

.btn {
  padding: 8px 16px;
  color: #7510f7;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #7510f7;
}

