// === PLACEHOLDERS ===
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%btn {
  // позволяет задать вертик внутр отступы + ширина по содержанию
  display: inline-block;
  margin: 0;
  padding: 0;
  // ключаем принудительное наследование шрифта
  font: inherit;
  // убирает подчеркивание у ссылок
  text-decoration: none;
  background-color: transparent;
  // рамка у кнопок
  border: 1px solid transparent;
  cursor: pointer;
}

%bdrs {
  border-radius: 0px;
}
// === / PLACEHOLDERS ===

// === VARIABLES ===

// Font-size
$fs-xxs: 14px;
$fs-xs: 16px;
$fs-s: 18px;
$fs-m: 24px;
$fs-l: 30px;
$fs-xl: 45px;
$fs-xxl: 56px;

// Font-weight
$fw-regular: 400;
$fw-bold: 700;

// Colors
$color-primary: #6237ff;
// #7446af
$color-text: #272341;
$color-white: #ffffff;
$color-grey: #f8f2ff;
$color-dark-grey: #c2c2c2;

$transition: 0.3s;
// === / VARIABLES ===

// === MIXINS ===
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}
// === / MIXINS ===

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  @include montserrat;

  font-size: $fs-xs;
  font-weight: $fw-regular;
  color: $color-text;
  background-color: $color-white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 150px 20px;

  &--s {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &--m {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.text-color {
  color: $color-primary;

  /* background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: $fs-l;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 4px;
    background-color: $color-primary;
  }
}

.subtitle {
  margin: 0;
  font-size: $fs-s;
}

.text {
  line-height: 1.7;
}

.btn {
  @extend %btn;
  @extend %bdrs;

  position: relative;
  padding: 8px 16px;
  color: $color-primary;
  font-size: $fs-xs;
  line-height: 1;
  border: 2px solid $color-primary;
  font-weight: $fw-bold;

  &--big {
    font-size: $fs-m;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $color-primary;
    transition: $transition;
  }

  &:hover,
  &:focus {
    color: $color-white;
    outline: none;

    &::after {
      width: 100%;
    }
  }

  /* &--color {
    background-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-image: linear-gradient(135deg, #5d21f7, #8a4dd8);
    border-image-slice: 1;

    &::after {
      background-image: linear-gradient(135deg, #632cef, #8a4dd8);
    }

    &:hover,
    &:focus {
      -webkit-text-fill-color: $color-white;
    }
  } */
}

// === HEADER ===
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;

  &__container {
    display: flex;
    align-items: center;
    min-height: 65px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo {
  position: relative;
  padding-right: 4px;
  color: $color-text;
  font-size: $fs-xl;
  font-weight: $fw-bold;
  text-decoration: none;

  &::before {
    content: ".";
    position: absolute;
    bottom: -2px;
    left: 100%;
    color: $color-primary;
  }
}

.nav {
  flex-basis: 65%;
  margin-left: auto;

  &__list {
    @extend %list;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    padding-bottom: 8px;
    color: $color-text;
    font-size: $fs-xs;
    font-weight: $fw-bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
      opacity: 0;
      transition: $transition;
      transform: translateY(10px);
    }

    &:hover,
    &--active {
      &::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

// === / HEADER ===

// === GREETING ===

.greeting {
  display: flex;
  align-items: center;
  min-height: 100vh;

  &__container {
    width: 100%;
  }

  &__text {
    margin: 0;
    margin-bottom: 35px;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    line-height: 1.2;
    //  font-size: 40px;
  }
}
// === / GREETING ===

// === ABOUT ===
// #d3d3d4
.about {
  &__container {
    display: flex;
    align-items: center;
  }

  &__photo {
    @extend %bdrs;

    min-width: 350px;
    width: 350px;
    height: 350px;
    overflow: hidden;

    &-wrapper {
      position: relative;
      margin-right: 150px;

      &::after {
        @extend %bdrs;

        content: "";
        position: absolute;
        z-index: -1;
        width: 350px;
        height: 350px;
        top: -40px;
        right: -40px;
        border: 7px solid $color-grey;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
  }
}
// === / ABOUT ===

// === CERTIFICATES ===
.certificates {
  background-color: $color-grey;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    @extend %list;

    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
    text-align: center;
    background-color: $color-white;
    box-shadow: 1px 1px 9px 0 rgba(209, 206, 216, 0.5);
    transition: $transition;

    &::before {
      margin-bottom: 30px;
      font-size: $fs-xl;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;

      p {
        color: $color-white;
      }
    }
  }

  &__name {
    margin-bottom: 10px;
    font-size: $fs-s;
    font-weight: $fw-bold;
  }

  &__company {
    flex: 1 1 auto;
    max-width: 200px;
    margin: 0;
    margin-bottom: 20px;
    font-size: $fs-xxs;
    line-height: 1.3;
  }

  &__description {
    flex: 1 1 auto;
    color: $color-dark-grey;
    font-size: $fs-xxs;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }
}
// === / CERTIFICATES ===

// === SKILLS ===
.skills {
  border-bottom: 2px solid $color-grey;

  &__list {
    @extend %list;

    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    // color: $color-dark-grey;
    text-align: center;
    transition: $transition;

    &::before {
      margin-bottom: 10px;
      font-size: $fs-xxl;
      transition: transform $transition;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.5);
    }
  }
}
// === / SKILLS ===

// === PORTFOLIO ===
.portfolio {
  text-align: center;
  // border-bottom: 2px solid $color-grey;

  &__title {
    &::after {
      left: 50%;
      width: 90px;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 90px;
  }

  &__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 30%;
    margin-bottom: 30px;
  }

  &__card {
    $parent: &;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
    min-height: 310px;
    min-width: 310px;
    color: $color-white;
    border: 1px solid $color-grey;
    transform-style: preserve-3d;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #272341e8;
      opacity: 0;
      transition: $transition;
      transform-style: preserve-3d;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      #{$parent}-img img {
        transform: scale(1.1);
      }

      #{$parent}-about {
        opacity: 1;
      }

      #{$parent}-title {
        opacity: 1;
      }

      #{$parent}-description {
        transform: translate3d(0, 0, 35px);
        opacity: 1;
      }

      #{$parent}-link {
        transform: translate3d(0, 0, 40px);
        opacity: 1;
      }
    }

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.25s ease-in-out;
      }
    }
    &-about {
      position: relative;
      z-index: 1;
      padding-top: 80px;
      transition: 0.45s ease-in-out;
      transform-style: preserve-3d;
    }

    &-title {
      color: $color-primary;
      font-size: $fs-m;
      transform: translate3d(0, 0, 40px);
      transform-style: preserve-3d;
      transition: 0.5s;
      opacity: 0;
    }

    &-description {
      margin-top: 25px;
      margin-bottom: 50px;
      transform: translate3d(0, -120%, 35px);
      transform-style: preserve-3d;
      transition: 0.7s;
      opacity: 0;
    }

    &-link {
      // color: $color-white;
      font-weight: $fw-regular;
      opacity: 0;
      transform: translate3d(0, 120%, 40px);
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }
  }
}
// === / PORTFOLIO ===

// === EXPERIENCE ===
.experience {
  background-color: $color-grey;

  &__inner {
    display: flex;
    align-items: start;
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    min-width: 40%;
  }

  &__list {
    @extend %list;

    flex-grow: 1;
  }

  &__item {
    position: relative;
    padding-bottom: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -70px;
      width: 3px;
      height: 50%;
      background-color: $color-primary;
      transform: translateX(-50%);
    }

    &::before {
      top: 50%;
    }

    &::after {
      bottom: 50%;
    }

    &:first-child {
      &::after {
        display: none;
      }
    }

    &:last-child {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  &__card {
    position: relative;
    display: block;
    padding: 30px 30px;
    color: $color-text;
    text-decoration: none;
    background-color: $color-white;
    box-shadow: 1px 1px 9px 0 rgba(209, 206, 216, 0.5);
    transition: 0.2s;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-primary;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: -70px;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 40px;
      height: 40px;
      background-color: $color-grey;
    }

    &::after {
      width: 20px;
      height: 20px;
      border: 2px solid $color-primary;
      border-radius: 50%;
    }

    &-title {
      margin-bottom: 10px;
    }

    &-date {
      margin: 0;
      margin-bottom: 20px;
      color: $color-dark-grey;
      font-size: $fs-xxs;
    }

    &-description {
      margin: 0;
      line-height: 1.5;
    }
  }
}
// === / EXPERIENCE ===
